<!DOCTYPE html>
<html>

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body style="text-emphasis-color: white">
  <div id="app">
    <v-app>

      <!-- <v-content style="background-color: rgb(47, 55, 77)"> -->
          <v-content v-if="screen === 1" style="margin-top:0%;  background-position: center; background-color: rgb(47, 55, 77); height: 100%; background-image: url(./background.jpg) " >
            <!-- background-image: url(./background.jpg) -->
        <!-- This is the rendering section for computers lg & up -->
        <v-container  >
          <template name>
            <v-flex >

              <!-- Creating Menu -->
              <v-toolbar class="white--text" color="black">
                  <v-menu transition="slide-y-transition" offset-y class="hidden-lg-and-up">
                      <v-btn slot="activator" style="background-color: rgb(47, 55, 77)" dark align-content="center">
                        Options
                      </v-btn>
                      <v-list>
                        <v-list-tile v-for="(item,index) in items" @click="">
                          <v-list-tile-title @click ="screen = index+1; if(screen === 2) {screen = 5; play();}">{{ item }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>

                </v-toolbar-side-icon>
                <v-toolbar-title class="xs3 white--text">Jon DeWent</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-md-and-down">
                    <v-btn class="white--text" flat @click="screen = 1"><v-icon>home</v-icon></v-btn>
                  <v-btn class="white--text" flat @click="screen = 2">Projects</v-btn>
                  <v-btn class="white--text" flat @click="screen = 3">About Me</v-btn>
                  <v-btn class="white--text" flat @click="screen = 4">Experience</v-btn>

                </v-toolbar-items>

              </v-toolbar>
            </v-flex>
          </template>


          <!-- Body layout -->



          <!-- Home Screen -->
          <v-layout v-if="screen === 1" style="background-color:transparent; height: 60% " row wrap >

 

          </v-layout>

                  <v-layout>
                      <v-flex class="pa-1">

                          <v-card style="align-content: center">
             
                              </v-card>

                      </v-flex>
                    </v-layout>
                </template>
              </v-flex>
            </v-layout>


          <!-- About Me -->   
           <v-layout  v-if="screen === 1" style="background-color: transparent " row  wrap justify-center align-center >



                <v-flex lg9 md9 xl6>
                  <v-layout style="background-color: transparent; text-align: center;" column >
                    <v-flex lg9 md9 sm9 xs9 class class = "pa-1">
                          <v-flex class = "pa-3">
            
    
                            <v-card style="margin-top: 60%; align-content: center; background-color: rgb(47, 55, 77)"   class="white--text">
                                <v-card-title primary-title justify-center>
                                  <div>
                                      
                                    <div class="text-xs-center" justify-center><h2>
                                      Hi! I am a software developer who knows the importance of adaptability and understanding the world beyond
                                      the application.<br></h2>
                                    
                                    </div>
                                    <v-btn color="info">Facebook</v-btn> 
                                    <v-btn class="white--text" color="indigo">LinkedIn</v-btn>
                                    <v-btn class="white--text" color="black">Github</v-btn>
                                  </div>
                                
                              </v-card>
    
                          </v-flex>
                         
                    </v-flex>
                  </v-layout>
                </v-flex>

                  </v-layout> 
        </v-container>
          </v-content>
          <v-content v-if="screen != 1">
            <v-container>
                <v-toolbar class="white--text" color="black">
                    <v-menu transition="slide-y-transition" offset-y class="hidden-lg-and-up">
                        <v-btn slot="activator" style="background-color: rgb(47, 55, 77)" dark align-content="center">
                          Options
                        </v-btn>
                        <v-list>
                          <v-list-tile v-for="(item,index) in items" @click="">
                            <v-list-tile-title @click ="screen = index+1; if(screen === 2) {screen = 5; play();}">{{ item }}</v-list-tile-title>
                          </v-list-tile>
                        </v-list>
                      </v-menu>
  
                  </v-toolbar-side-icon>
                  <v-toolbar-title class="xs3 white--text">Jon DeWent</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-toolbar-items class="hidden-md-and-down">
                      <v-btn class="white--text" flat @click="screen = 1"><v-icon>home</v-icon></v-btn>
                    <v-btn class="white--text" flat @click="screen = 2">Projects</v-btn>
                    <v-btn class="white--text" flat @click="screen = 3">About Me</v-btn>
                    <v-btn class="white--text" flat @click="screen = 4">Experience</v-btn>
  
                  </v-toolbar-items>
  
                </v-toolbar>
              </v-flex>
            </template>
          <v-layout class = "pa-2" v-if="screen === 3" style="background-color:transparent; text-align: center" row  wrap justify-center>

              <v-flex  md4 lg4 xl3  class="pa-3" align-center justify-center style="align-content: center; text-align: center">
                
                  
                  <v-card   class="white--text"class="pa-2" style="align-content: center; background-color: rgb(47, 55, 77)">
                      <v-layout  class="text-xs-center" style="background-color: rgb(246, 247, 250)" column justify-center align-center>
                          <v-flex lg5 md5 sm6 xs6 class ="pa-2" color="indigo" >
                            <v-img :src="`gvsu.png`" aspect-ratio="1.8" size="3" transition="slide-x-transition" width="150px" >
                          </v-flex>
                          
                        </v-layout>
                        <v-layout column class="text-xs-center" justify-center align-center>
                      <v-card-title primary-title >
                        <div>
                            
                          <div style="text-align: center"><h3>
                            Bachelor's of Science in Computer Science from Grand Valley State University</h3>
                            
                          </h3>
                          </div>
                        </div>
                      </v-card-title>

                    </v-layout>
                    </v-card>
                    
                    </v-flex>
              <v-flex color="indigo" class="text-xs-center" md9 lg9 xl9 style="align-content: center" >
                <template>
                  <v-layout >
                    <v-flex class = "pa-3">
                      <!-- <h1>Hobbies</h1> -->
                      
                      <!-- Backpacking Card -->
                      <v-card style="align-content: center; background-color: rgb(47, 55, 77); text-align: center" class="white--text" justify-center md9 lg9>
                        <v-card-title style="text-align: center; align-content: center" class="justify-center"> <h3>When I'm not programming I like to go hiking, backpacking, and running with my
                          wife.</h3></v-card-title>

                        <template>
                            <v-carousel style="height: 380px">
                              <v-carousel-item
                                v-for="(item,i) in backpacking"
                                :key="i"
                                :src="item"
                              ></v-carousel-item>
                            </v-carousel>
                          </template>
                        
                      </v-card>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                      <v-flex class="pa-1">

                          <v-card style="align-content: center">
    

                            
                              </v-card>

                      </v-flex>
                    </v-layout>
                </template>
              </v-flex>
            </v-layout>
            <!-- End of About Me -->

        </v-container>

       
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
  
    new Vue({
      el: '#app',
      data: {
        items: [
          // "Home", "Christmas Wish-List"
          "Home", "Projects", "About Me", "Experience"
        ],

          backpacking: [
          "yosemite.jpg", "yosemite2.jpg","yosemite4.jpg", "colorado.jpg","colorado2.jpg","colorado3.jpg","race.jpg","race2.jpg","race3.jpg","race4.jpg"
        ],
        myImage: "./background.jpg",

        screen: 1

      },
      methods: {
      play() {
        screen = 5;
        var audio = document.getElementById("audio");
        audio.play();
    }
      }
    });

    
  </script>

  <script>
        
        // var audio = document.getElementById("audio");
        // audio.play();
  </script>
</body>

</html>
